Source: ubuntu-xboxdrv
Section: utils
Priority: optional
Maintainer: Rael G.C. <rael.gc@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://launchpad.net/~rael-gc/+archive/ubuntu-xboxdrv

Package: ubuntu-xboxdrv
Architecture: all
Depends: ${misc:Depends}, xboxdrv, jstest-gtk
Description: Creates a xboxdrv daemon and Joysticks in System Settings
 xboxdrv is installed in Ubuntu without proper daemon configuration.
 This package creates a proper daemon and an entry named "Joystick"
 under Unity System Settings.
 Additionally this package try remove xpad, which always has conflict
 with xboxdrv.
