Source: ubuntu-xboxdrv
Section: utils
Priority: optional
Maintainer: Rael G.C. <rael.gc@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://launchpad.net/~rael-gc/+archive/ubuntu-xboxdrv
#Vcs-Git: git://git.debian.org/collab-maint/ubuntu-xboxdrv.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ubuntu-xboxdrv.git;a=summary

Package: ubuntu-xboxdrv
Architecture: all
Depends: xboxdrv, jstest-gtk
Breaks: xpad
Description: Creates a xboxdrv daemon and Joysticks in System Settings
 xboxdrv is installed in Ubuntu without proper daemon configuration.
 This package creates a proper daemon and an entry named "Joystick"
 under Unity System Settings.
 Additionally this package try remove xpad, which always has conflict
 with xboxdrv.
