[Desktop Entry]
Name=Joysticks
Comment=Configure and Calibrate Joysticks
Icon=/usr/share/app-install/icons/jstest-gtk.png
Exec=/usr/bin/jstest-gtk
Type=Application
Categories=GTK;GNOME;Settings;X-GNOME-Settings-Panel;HardwareSettings;X-Unity-Settings-Panel;
OnlyShowIn=Unity;
X-Unity-Settings-Panel=jstest-gtk
X-Ubuntu-Gettext-Domain=unity-control-center
